body * {
	font-family: Helvetica, Arial;
}

#tweet-wrapper{
	position: relative;
	overflow: hidden;
	width: 550px;
	height: 70px;
	border: 1px solid #E0E0E0;
	background-color: #eee;
	border-radius:5px;
}

#tweet-wrapper ul {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
}

#tweet-wrapper li {
	height: 70px;
	padding: 8px 5px;
	box-sizing: border-box;	
	overflow: hidden;
}

#tweet-wrapper p {
	color: #333;
}

#tweet-wrapper a {
	color: #ff6e00;
	text-decoration: none;
}

#tweet-wrapper a:hover {
	color:#e66300;
}
